@import "settings";

.tweet {
  @include callout;
  @include clearfix;

  margin-bottom: 1em;
  background-color: #f8f8ff;

  .media-item {
    margin: 0 0 1em;
  }

  .media-extras {
    padding: 0 0 1em;
  }

  .tweet-img {
    width: 100%;
  }
}
