<h2>Background Sync: GET</h2>

  <p>
    <strong>Objective</strong>: To display an image fetched with background sync.
  </p>

  <p></p>

  <div id="demo">
    <div id="connectionStatus"></div>
    <p>Click on the button below to make an HTTP request.<p>
    <a id="request-button" class="btn">Go fetch a dog</a>
    <span id="result"></span>
  </div>

<%= javascript_include_tag 'background-sync-get' %>

