<h2>Cache then Network</h2>

  <p>
    <strong>Objective</strong>: To display cached content while content is fetched from the network.
  </p>

<div id="demo"></div>

<%= javascript_include_tag 'cache-then-network' %>
