<h2>Cache then Network</h2>

  <p>
    <strong>Objective</strong>: To display cached content while content is fetched from the network.
  </p>

<div class="callout">
  <p>
    Coming soon.
  </p>
</div>

<%#= javascript_include_tag 'offline-fallback' %>
