<% content_for :head do %>
  <link rel="manifest" href="manifest.json">
<% end %>

<h2>Push Simple</h2>

  <p>
    <strong>Objective</strong>: Simple example of the Web Push API through Service Worker. Send notifications to users even when the page is not open.
  </p>

<div class="callout">
  <div id="push-simple-app"></div>
</div>

<%= javascript_include_tag 'push-simple' %>
