<h2>Push Simple</h2>

  <p>
    <strong>Objective</strong>: Simple example of the Web Push API through Service Worker. Send notifications to users even when the page is not open.
  </p>

<div class="callout">
  <div id="push-simple-app">
    <a class="send-notification-button btn waves-effect waves-light">Send notification</a>
  </div>
</div>

<script type="text/javascript">
  var publicKey = new Uint8Array(<%= WebpushClient.public_key_bytes %>);
</script>
<%= javascript_include_tag 'push-simple' %>
