<% content_for :head do %>
  <link rel="manifest" href="manifest.json">
<% end %>

<h2>Push Simple</h2>

  <p>
    <strong>Objective</strong>: Simple example of the Web Push API through Service Worker. Send notifications to users even when the page is not open.
  </p>

<div class="callout">
  <div class="push-simple-actions">
    <h4>Demo</h4>
    <!-- <input id="push&#45;message" placeholder="Send a message" type="text" width="60%" /> -->
    <!-- <button id="push&#45;message&#45;send" class="button">Send message</button> -->
    <button id="push-message-send" class="button js-send-push-button">Send message</button>

    <label for="push-toggle" class="js-push-toggle-label">Enable Push Messages</label>
    <div class="switch">
      <input id="push-toggle" class="cmn-toggle cmn-toggle-round-flat js-push-toggle" type="checkbox">
      <label for="push-toggle"></label>
    </div>
  </div>
</div>

<%= javascript_include_tag 'push-simple' %>
