<h2>Push React</h2>

  <p>
    <strong>Objective</strong>: Demo of push button toggle to subscribe/unsubscribe from push notifications through Service Worker. Button controls are rendered using React.
  </p>

<div class="callout">
  <div id="push-react-app"></div>
</div>

<script type="text/javascript">
  var publicKey = new Uint8Array(<%= WebpushClient.public_key_bytes %>);
</script>
<%= javascript_include_tag 'push-react' %>
