@import "settings";

.container {
  width: $mobileWidth; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: $tabletWidth; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: $desktopWidth; }
}
