<footer class="container">
  <div class="content">
    <p>Have a question? Found a bug? <%= tweet_link_to "Tweet at #serviceworkerrails" %> or <%= link_to "report it on GitHub", "https://github.com/rossta/serviceworker-rails-sandbox/issues" %></p>
    <p><%= Date.today.to_s(:long) %></p>
  </div>
</footer>
