<nav class="top-nav">
  <div class="nav-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <a href="#" class="brand-logo">
            <span class="hide-on-small-only">Service Worker Rails </span>Sandbox
          </a>
          <ul id="top-nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/rossta/serviceworker-rails-sandbox">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
