<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">ServiceWorker Rails Sandbox</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="https://github.com/rossta/serviceworker-rails-sandbox" data-popover="#codeNavPopover">Code</a>
        <div id="codeNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="#example">Example</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
