<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">ServiceWorker Rails Sandbox</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#demosNavPopover">Demos</a>
        <div id="demosNavPopover" class="popover">
          <ul class="popover-list">
            <% demo_navbar.each do |title, path| %>
              <li class="popover-item">
                <%= link_to title, page_path(path), class: "popover-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="https://github.com/rossta/serviceworker-rails-sandbox">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
